footer {
  background-color: #222;
  margin-top: -48px;
}

footer .footer .footer-soical ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

footer .footer .footer-soical ul li {
  margin-right: .5rem;
  display: inline-block;
}

footer .footer .footer-soical ul li a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  /* padding: 20px; */
  position: relative;
  border-radius: 5px;
  display: block;
  font-size: 1.2rem;
  transition: .3s;
}

footer .footer .footer-soical ul li a:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

footer .footer .footer-soical ul li a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer .footer .divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

footer .footer .footer-bottom {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
