<footer>
  <div class="section container footer">
    <div class="footer-soical">
      <ul>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-facebook"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-twitter"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-whatsapp"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-instagram"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-telegram"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-github"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-linkedin"></i></a></li>
        <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-social-reddit"></i></a></li>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="footer-bottom">
      @ 2023 Personal Portfolio. All rights reserved | Designed by Vickky Programmer
    </div>
  </div>
</footer>
