<div class="section container-fluid about" id="about">
  <div class="row">
    <div class="col-md-4 col-sm-12 text-center">
      <img src="../../assets/images/my_picture22.jpg" alt="Victor Chukwuemeka">
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="content">
        <h2>About Me</h2>
        <p class="occupation">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur nemo illo quam iure earum, veniam,
           ad commodi iusto distinctio qui omnis obcaecati, animi dolorem quis voluptatem recusandae amet ipsam quas.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id hic consectetur distinctio impedit, fugit sed, amet,
          exercitationem sit at eligendi eum! Suscipit voluptas numquam iure dolore illum adipisci facere exercitationem.
        </p>
      </div>
      <div class="skills">
        <h4><span>Skills</span></h4>
        <div class="single-skill">
          <p>
            <img src="../../assets/images/skill/html5-without-wordmark-black-white-logo-104D0855A4-seeklogo.com.png" alt="">
            <span>HTML</span>
          </p>
          <div class="custom-progress">
            <div class="progress-bar" style="width:100%"></div>
          </div>
        </div>

        <div class="single-skill">
          <p>
            <img src="../../assets/images/skill/css_icon2.jpg" alt="">
            <span>CSS</span>
          </p>
          <div class="custom-progress">
            <div class="progress-bar" style="width:70%"></div>
          </div>
        </div>

        <div class="single-skill">
          <p>
            <img src="assets/images/skill/js.png" alt="">
            <span>Javascript</span>
          </p>
          <div class="custom-progress">
            <div class="progress-bar" style="width:60%"></div>
          </div>
        </div>

        <div class="single-skill">
          <p>
            <img src="assets/images/skill/php.png" alt="">
            <span>PHP</span>
          </p>
          <div class="custom-progress">
            <div class="progress-bar" style="width:85%"></div>
          </div>
        </div>

        <div class="single-skill">
          <p>
            <img src="assets/images/skill/mysql.jpg" alt="">
            <span>MYSQL</span>
          </p>
          <div class="custom-progress">
            <div class="progress-bar" style="width:75%"></div>
          </div>
        </div>

        <div class="single-skill">
          <p>
            <img src="assets/images/skill/laravel.png" alt="">
            <span>Laravel</span>
          </p>
          <div class="custom-progress">
            <div class="progress-bar" style="width:45%"></div>
          </div>
        </div>
      </div>
      <div class="about-button mt-3">
        <a href="#contact"> Contact Me</a>
        <a href="#contact"> Download Resume</a>
      </div>
    </div>
  </div>
</div>
