<div class="section services">
  <div class="content">
    <div class="container">
       <h2>Services</h2>
      <div class="row">
        <div class="col-md-4 col-sm-12 ">
          <div class="single-service">
              <i class="icofont icofont-code-alt icofont-lg"></i>
              <h4>Web Design & Development</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni soluta nam error.</p>
          </div>

        </div>

        <div class="col-md-4 col-sm-12 ">
          <div class="single-service">
              <i class="icofont icofont-brand-android-robot icofont-lg"></i>
              <h4>App Development</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni soluta nam error.</p>
          </div>

        </div>

        <div class="col-md-4 col-sm-12 ">
          <div class="single-service">
              <i class="icofont icofont-pen-alt-4 icofont-lg"></i>
              <h4>Content Creating</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni soluta nam error.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
