.projects h2 {
  text-align: center;
  color: #111;
  font-weight: 700;
  font-size: 2rem;
}

.projects p {
  font-weight: 500;
  font-style: 1rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

.projects .images .imgBox {
  /* width: 100% !important; */
  overflow: hidden;
  height: 100%;
  margin-bottom: 30px;

}

.projects .images .imgBox div img {
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.projects .images .imgBox div:hover img {
  transform: scale(1.1);
}

.projects .images .imgBox div {
  position: relative;
  overflow: hidden;
}

.projects .images .imgBox div::after {
  transition: .4s;
  cursor: pointer;
}

.projects .images .imgBox:hover div::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.projects .images .imgBox div:hover::before {
  content: "View Site";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

/* Mobile Size */
@media screen and (max-width: 425px) {
  .projects h2 {
    font-size: 1.8rem;
  }
  
  .projects p {
    font-size: .8rem;
  }
}