<div class="section contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <form action="">
          <div class="form-group">
            <input type="text" name="" id="name" placeholder="Enter Your Name" required>
          </div>

          <div class="form-group mt-4">
            <input type="text" name="" id="subject" placeholder="Enter Your Subject" required>
          </div>

          <div class="form-group mt-4">
            <input type="email" name="" id="email" placeholder="Enter Your Email" required>
          </div>

          <div class="form-group text-area mt-4">
            <textarea rows="5"  name="" id="message" placeholder="Enter Message"></textarea>
          </div>

        </form>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="content">
          <ul>
            <li><a href="#http://" target="_blank" rel="noopener noreferrer"><i class="icofont icofont-location-pin"></i> P.O Box 201, Adeyemo Alakija St, Ikeja, Lagos State, Nigeria.</a></li>
            <li><a href="mailto:onwuegbuchulemvic02@gmail.com"><i class="icofont icofont-ui-email"></i> Onwuegbuchulemvic02@gmail.com</a></li>
            <li><a href="tel:+2349055302687"><i class="icofont icofont-ui-touch-phone"></i> +234-905-530-2687</a></li>
            <li><a href="#" download><i class="icofont icofont-info-circle"></i> Download Resume</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
