<div class="section projects container">
  <h2>Projects</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem dicta, quisquam unde</p>
  <div class="row images">
    <div class="imgBox col-md-4 col-12">
      <div><img src="../../assets/images/projects/Annotation 2022-09-10 092605.jpg" alt="Project" class=""></div>
    </div>
    <div class="imgBox col-md-4 col-12">
      <div><img src="assets/images/projects/Annotation 2022-11-17 115105.jpg" alt="Project" class=""></div>
    </div>
    <div class="imgBox col-md-4 col-12">
      <div><img src="assets/images/projects/Screenshot 2022-12-02 121947.jpg" alt="Project" class=""></div>
    </div>
    <div class="imgBox col-md-4 col-12">
      <div><img src="assets/images/projects/Screenshot 2022-12-02 122048.jpg" alt="Project" class=""></div>
    </div>
    <div class="imgBox col-md-4 col-12">
      <div><img src="assets/images/projects/Screenshot 2022-12-02 122644.jpg" alt="Project" class=""></div>
    </div>
    <div class="imgBox col-md-4 col-12">
      <div><img src="assets/images/projects/{98DFBE7F-FC56-4F3F-873B-7F8CD3762B72}.png.jpg" alt="Project" class=""></div>
    </div>
  </div>
</div>
