@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0.900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: rgba(238, 223, 16, 0.918);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    width: 100%;
    height: 100vh;
    background-image:  url(../images/home2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    
}

header nav.navbar {
    z-index: 9999;
    background-color: rgba(0, 0, 0, .8);
}
header nav.navbar .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

header nav.navbar .navbar-brand span {
    color: var(--primary-color);
}

header nav.navbar .navbar-nav .nav-item {
    margin-right: .2rem;
}

header nav.navbar .navbar-nav .nav-item .nav-link {
    padding: 0  .5rem;
    color: #fff;
    transition: .3s;
}

header nav.navbar .navbar-nav .nav-item .nav-link:hover,
header nav.navbar .navbar-nav .nav-item .active .nav-link {
    color: var(--primary-color);
}

header nav.navbar .navbar-toggler {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 999;
    outline: none;
    border: none;
}

header .header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    /* width: 90vw; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .header-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    pointer-events: none;
    background-position: center;
}

header .header-content .content{
    z-index: 999;
}

header .header-content .content h2{
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    /* position: relative; */
}

header .header-content .content h2 span{
    color: var(--primary-color);
}

/* header .header-content .content .type .text.sec-text::before {
    content: "";
    border-left: 4px solid var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }

    100% {
        left: 0;
    }
} */

header .header-content .content p{
    font-size: 1rem;
    color: #fff;
} 

.about {
    width: 100%;
}


.about .content {
    text-align: justify;
}

.about .content h2 {
    font-weight: 700;
    color: #111;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about .content p {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

.about .skills {
    width: 100%;
}

.about .skills h4 {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

.about .skills h4 span {
    background-color: #fff;
    padding: 0 10px;
    color: #111;
    /* border-radius: 50%; */
}

.about .skills h4::before,
.about .skills h4::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-image: linear-gradient(to right, rgb(131, 190, 20) 0%, rgb(219, 223, 16) 100%);
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: -1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about .skills .single-skill {
    width: 48%;
    float: left;
    margin-right: 2%;
    margin-bottom: 25px;
}

.about .skills .single-skill p {
    margin-bottom: 7px;
    display: block;
}
.about .skills .single-skill p img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.about .skills .single-skill p span {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    
}

.about .skills .single-skill .custom-progress {
    /* width: 50%; */
    background-color: #e9ecef;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 5px;
    position: relative;
}

.about .skills .single-skill .custom-progress .progress-bar {
    /* width: 80%; */
    background-image: linear-gradient(to right, rgb(131, 190, 20) 0%, rgb(219, 223, 16) 100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.services {
    background-image: url(../images/pexels-burak-the-weekender-205505.jpg);
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    position: relative; 
}

.services::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}

.services .content {
    z-index: 999;
    position: relative;
    color: #fff;
}

.services .content h2 {
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.services .content .single-service {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 5px;
    padding: 20px 15px;
    cursor: pointer;
    transition: .4s all ease-in-out;
}

.services .content .single-service:hover {
    background-color: rgba(0, 0, 0, .5);
}

.services .content .single-service * {
    text-align: center;
}

.services .content .single-service i {
    font-size: 2.5rem;
    color: rgba(206, 194, 28, 0.918);
    text-align: center;
    display: block;
    margin-bottom: 20px;
    transition: .3s;
}

.services .content .single-service h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.services .content .single-service p {
    font-size: 1rem;
    color: #f1f1f1;
    text-align: justify;
}

.projects h2 {
    text-align: center;
    color: #111;
    font-weight: 700;
    font-size: 2rem;
}

.projects p {
    font-weight: 500;
    font-style: 1rem;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.projects .images .imgBox {
    /* width: 100% !important; */
    overflow: hidden;
    height: 100%;
    margin-bottom: 30px;
    
}

.projects .images .imgBox div img {
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.projects .images .imgBox div:hover img {
    transform: scale(1.1);
}

.projects .images .imgBox div {
    position: relative;
    overflow: hidden;
}

.projects .images .imgBox div::after {
    transition: .4s;
    cursor: pointer;
}

.projects .images .imgBox:hover div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.projects .images .imgBox div:hover::before {
    content: "View Site";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

.life-history {
    background-image: url(../images/projects/pexels-pixabay-459653.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.life-history::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.life-history h2 {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    position: relative;
    z-index: 10;
}

.life-history .life-single {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    margin: 35px 0;
    position: relative;
    z-index: 10;
}

.life-history .life-single p {
    margin-bottom: 20px;
}

.life-history .life-single p span {
    border: 3px solid var(--primary-color);
    padding: 5px 15px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.life-history .life-single h4 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

.life-history .life-single p {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, .8);
}

.testimonials h2 {
    font-weight: 600;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.testimonials .carousel-indicators {
    bottom: -65px;
}

.testimonials .carousel-indicators li {
    background-color: var(--primary-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.testimonials .testimonial-single {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 5px;
}

.testimonials .testimonial-single img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.testimonials .testimonial-single h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

.testimonials .testimonial-single p.occupation {
    font-size: .9rem;
    color: #333;
    font-weight: 500;
}

.testimonials .testimonial-single .text {
    font-size: .9rem;
    line-height: 1.5rem;
    font-weight: 400;
}

footer {
    background-color: #222;
}

footer .footer .footer-soical ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

footer .footer .footer-soical ul li {
    margin-right: .5rem;
    display: inline-block;
}

footer .footer .footer-soical ul li a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    /* padding: 20px; */
    position: relative;
    border-radius: 5px;
    display: block;
    font-size: 1.2rem;
    transition: .3s;
}

footer .footer .footer-soical ul li a:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

footer .footer .footer-soical ul li a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer .footer .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

footer .footer .footer-bottom {
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

@media (max-width:992px){
    .navbar-collapse {
        background: rgba(0, 0, 0, .5);
        padding: 10px 0;
    }

    .about .col-md-4 {
        margin-bottom: 20px;
    }

    .about .content h2 {
        font-size: 1.8rem;
    }

    .about .skills .single-skill p img {
        width: 20px;
        height: 20px;
    }

    .services .content .single-service h4,
    .life-history .life-single h4 {
        font-size: 1.2rem;
    }

    .services .content .single-service p,
    .life-history .life-single p,
    footer .footer .footer-soical ul li a,
    footer .footer .footer-bottom  {
        font-size: .9rem;
    }

    footer .footer .footer-soical ul li a {
        width: 30px;
        height: 30px;
    }
}

@media (max-width:766px) {
    .services .content .single-service,
    .testimonials .testimonial-single {
        margin-bottom: 10px;
    }
}

@media (max-width:500px){
    header .header-content .content h2 {
        font-size: 1.2rem;
    }
    header .header-content .content p {
        font-size: .9rem;
    }

    .about .content h2 {
        font-size: 1.6rem;
    }

    .services .content .single-service h4,
    .life-history .life-single h4 {
        font-size: 1.2rem;
    }

    .services .content .single-service p,
    .life-history .life-single p {
        font-size: .9rem;
    }
}