<!-- Banner Section Start -->
<app-banner></app-banner>
<!-- Banner Section End -->

<!-- About-me Section Start -->
<app-about-me></app-about-me>
<!-- About-me Section End -->

<!-- Services Section Start -->
<app-services></app-services>
<!-- Service Section End -->

<!-- Project Section Start -->
<app-projects></app-projects>
<!-- Project Section End -->

<!-- History Section Start -->
<!-- History Section End -->

<!-- Testimonials Section Start -->
<app-testimonals></app-testimonals>
<!-- Testimonal Section End -->

<!-- Contact Section Start -->
<app-contact-me></app-contact-me>
<!-- Contact Section End -->

<!-- Footer Section Start -->
<app-footer></app-footer>
<!-- Footer Section End -->
