<div class="section testimonials container">
  <h2>Testimonials</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="testimonial-single">
              <div class="imgBox">
                <img src="../../assets/images/testimonials/testimonial1.jpg" alt="Herry Blessing">
              </div>
              <div class="content">
                <h4>Herry Blessing</h4>
                <p class="occupation">Photographer</p>
                <div class="text">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi asperiores numquam consequatur atque corrupti.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="testimonial-single">
              <div class="imgBox">
                <img src="../../assets/images/testimonials/testimonial2.jpg" alt="Mark Waugh">
              </div>
              <div class="content">
                <h4>Mark Waugh</h4>
                <p class="occupation">Web Desinger</p>
                <div class="text">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi asperiores numquam consequatur atque corrupti.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="testimonial-single">
              <div class="imgBox">
                <img src="../../assets/images/testimonials/testimonial3.jpg" alt="Sarina Willams">
              </div>
              <div class="content">
                <h4>Sarina Willams</h4>
                <p class="occupation">Graphic Desinger</p>
                <div class="text">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi asperiores numquam consequatur atque corrupti.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="testimonial-single">
              <div class="imgBox">
                <img src="../../assets/images/testimonials/testimonial1.jpg" alt="Herry Blessing">
              </div>
              <div class="content">
                <h4>Herry Blessing</h4>
                <p class="occupation">Photographer</p>
                <div class="text">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi asperiores numquam consequatur atque corrupti.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="testimonial-single">
              <div class="imgBox">
                <img src="../../assets/images/testimonials/testimonial2.jpg" alt="Mark Waugh">
              </div>
              <div class="content">
                <h4>Mark Waugh</h4>
                <p class="occupation">Web Desinger</p>
                <div class="text">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi asperiores numquam consequatur atque corrupti.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="testimonial-single">
              <div class="imgBox">
                <img src="../../assets/images/testimonials/testimonial3.jpg" alt="Sarina Willams">
              </div>
              <div class="content">
                <h4>Sarina Willams</h4>
                <p class="occupation">Graphic Desinger</p>
                <div class="text">
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi asperiores numquam consequatur atque corrupti.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
