<app-about-me></app-about-me>

<!-- Service Start -->
<div class="section services">
  <div class="content">
    <div class="container">
       <h2>Services</h2>
      <div class="row">
        <div class="col-md-4 col-sm-12 ">
          <div class="single-service">
              <i class="icofont icofont-code-alt icofont-lg"></i>
              <h4>Web Design & Development</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni soluta nam error.</p>
          </div>

        </div>

        <div class="col-md-4 col-sm-12 ">
          <div class="single-service">
              <i class="icofont icofont-brand-android-robot icofont-lg"></i>
              <h4>App Development</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni soluta nam error.</p>
          </div>

        </div>

        <div class="col-md-4 col-sm-12 ">
          <div class="single-service">
              <i class="icofont icofont-pen-alt-4 icofont-lg"></i>
              <h4>Content Creating</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam magni soluta nam error.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Service -->

<!-- Projects -->
<app-projects></app-projects>

<!-- Life History -->
<div class="section container-fluid life-history">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h2>Experiences</h2>
        <div class="life-single">
          <p><span>2022 - Present </span></p>
          <h4> Software Enginner at SG Enterprise </h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
        <div class="life-single">
          <p><span>2020 - 2021 </span></p>
          <h4> Software Enginner at NACOS-SACOTEC CHAPTER </h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
        <div class="life-single">
          <p><span>2020 - 2021 </span></p>
          <h4> Student's Adminstratior at School Of Science</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
        <div class="life-single">
          <p><span>2019 - 2020 </span></p>
          <h4> Freelance Developer </h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h2>Eductaion</h2>
        <div class="life-single">
          <p><span>2022 - Present </span></p>
          <h4> Master of Software Enginner, Ajx </h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
        <div class="life-single">
          <p><span>2018 - 2022 </span></p>
          <h4> Bachelor of Computer Science, Olabisi Onabanjo University</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
        <div class="life-single">
          <p><span>2015 - 2018 </span></p>
          <h4> Master Of Science, Ikenne Community High School</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quam, magnam.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Life History -->

<!-- Testimonals -->
<app-testimonials></app-testimonials>

<!-- Contact -->
<app-contact></app-contact>
