<app-about-me></app-about-me>

<!-- Service Start -->
<app-service></app-service>
<!-- End Service -->

<!-- Projects -->
<app-projects></app-projects>

<!-- Life History -->
<div class="section container-fluid life-history">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h2>Experiences</h2>
        <div class="life-single">
          <p><span>2023 - Present </span></p>
          <h4>Devloping a Personal Project</h4>
          <p>Currently I'm devloping a entertainment web application for view, where they can stream and download movies at a go.</p>
        </div>
        <div class="life-single">
          <p><span>2021 - 2022 </span></p>
          <h4> Software Devloper at SG Enterprise </h4>
          <p>I worked at SG Enterprise, the job was to get a functional e-commence web application for easy buying and selling of goods.</p>
        </div>
        <div class="life-single">
          <p><span>2020 - 2021 </span></p>
          <h4>Software Developer at NACOS-SACOTEC CHAPTER</h4>
          <p>I vouterly worked for the association, in the case i was assigned to build and devoped a functional function for the members
            so as to store the records of the members, generate a payments system, notification system, election system and so on.
          </p>
        </div>
        <div class="life-single">
          <p><span>2019 - 2020 </span></p>
          <h4> Student's Adminstratior at School Of Science </h4>
          <p>I Worked as an adminstractor for the School of Sceience Department at Tai Solarin College Eduction were i was assigned to montor and resource fro the
            department
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h2>Eductaion</h2>
        <div class="life-single">
          <p><span>2023 - Present </span></p>
          <h4> Currently a student at ALX SE Programe</h4>
          <p>The ALX SE Program is a platform where indivuals are tranined to be a Full Stack Software Engineer</p>
        </div>
        <div class="life-single">
          <p><span>2018 - 2022 </span></p>
          <h4> Bachelor of Computer Science, Olabisi Onabanjo University</h4>
          <p>Graduated from Tai Solarin College Of Eduction in afflication with Olabisi Onabanjo Unversity to study Computer Science</p>
        </div>
        <div class="life-single">
          <p><span>2015 - 2018 </span></p>
          <h4> Master Of Science, Ikenne Community High School</h4>
          <p>Graduated from Ikenne Community High Science to study Science</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Life History -->

<!-- Testimonals -->
<app-testimonials></app-testimonials>

<!-- Contact -->
<app-contact></app-contact>
